.line-chart-card-head {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  margin-left: 1em;
  vertical-align: middle;
}

.line-chart-card-body {
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
  border-top: 1px ridge #e3e4e5;
}

.table {
  display: table;
  margin: 0 auto;
}

.chartjsLegend ul {
  list-style: none;
  padding-top: 1em;
}

.chartjsLegend li:nth-child(1)::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: purple;
  display: inline-block;
  margin: 0 10px;
}

.chartjsLegend li:nth-child(2)::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  margin: 0 10px;
}

.chartjsLegend li:nth-child(3)::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  display: inline-block;
  margin: 0 10px;
}

.chartjsLegend li {
  color: gray;
  display: inline;
  margin-right: 2em;
}

.selector-title {
  font-size: x-large;
  font-weight: 400;
}

.selector-quantity {
  font-size: -webkit-xxx-large;
  font-weight: 400;
}

.active {
  color: black;
}

.inactive {
  color: gray;
}
