.sidenav {
  width: 4em;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #30313f;
  overflow-x: hidden;
  padding-top: 1.5em;
}

@media (min-width: 600px) {
  #root {
    margin-left: 4em;
  }
}

@media (max-width: 599px) {
  .sidenav {
    display: none;
  }
}
