.text-card-head {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  text-align: left;
  vertical-align: middle;
}

.text-card-body {
  text-align: center;
  vertical-align: middle;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3.5em;
  border-top: 1px ridge #e3e4e5;
}
